.Main{
    background-color:#01579b;
    padding-top:200px;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.card1{
    display:flex;
    radius:20px;
    width: 200px;
    position: relative;
    bottom:170px;
    background-color:#1976d2;
    block-size: 200px;
    align-items: flex-end;
    margin:auto;




}


.Name{
    color: white;
    padding: 20px;
    font-size: 3vw;
    font-family: Comic;
}


.card2{
  display: flex;
  margin:auto;
    position:relative;
    bottom:100px;
    background-color: ##3f51b5;
    block-size: 100px;
    align-content: center;

}
.heading{
    text-align: left;
    margin: auto;
    font-size: 30px;
    position: relative;
    bottom:100px;
}
#deg{
    text-align: center;
    block-size: 20px;
    margin-top:20px;
    width:120px;
}
#uni{
    text-align: center;
    block-size: 20px;
    margin-top:20px;
    width:120px;
    margin-left:10px;

}
#state1
{
    text-align: center;
    block-size: 20px;
    margin-top:20px;
    width:120px;
    margin-left: 10px;

}
#year
{
    text-align: center;
    block-size: 20px;
    margin-top:20px;
    width:120px;
    margin-left:10px;

}
#sub
{
    text-align: center;
    block-size: 20px;
    margin-top:20px;
    width:120px;
    margin-left:10px;
}
#marks{
    text-align: center;
    block-size: 20px;
    margin-top:20px;
    width:120px;
    margin-left:10px;
}
#division{
    text-align: center;
    block-size: 20px;
    margin-top:20px;
    width:120px;
    margin-left:10px;
}
.button1 {
    background-color: red; /* Green */
  color: white;
padding:10px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  border-color: red;
  border-radius: 50%;
  left:150px;

  }
